---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Performances from "../components/Performances.astro";
import HuapangoSongs from "../components/HuapangoSongs.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import BentoGallery from "../components/BentoGallery.astro";
import VideoCarousel from "../components/VideoCarousel.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Diego Rodríguez">
    <Header />
    <main>
        <Hero />
        <About />
        <HuapangoSongs />
        <Performances />
        <VideoCarousel />
        <ImageCarousel />
        <BentoGallery />
        <Contact />
    </main>
    <footer>
        <p>&copy; 2024 Monos. All rights reserved.</p>
    </footer>
</Layout>

<style>
    main {
        margin-top: 60px; /* To account for the fixed header */
    }
    footer {
        background-color: rgb(var(--accent-dark));
        color: white;
        text-align: center;
        padding: 1rem 0;
        font-size: 0.9rem;
    }
</style>
